* {
  color: #fff;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100vh;
}

.half-page {
  width: 100%;
  height: 50vh;
}

.hidden {
  display: none !important;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fill {
  height: 100%;
}

.bg-black {
  background-color: #101515;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
}
.header-rightside_contacts_text {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-rightside_contacts_text:hover {
  text-decoration: underline;
}
.header-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-rightside_contacts {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_img {
  width: 90px;
}

.logo_text {
  padding: 20px;
  font-size: 32px;
  font-family: "Cormorant Garamond", serif;
}

.personal-area-button {
  padding: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#3c3c3c), color-stop(#000000), to(#3c3c3c));
  background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c);
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.personal-area-button:hover {
  background-position-x: 100px;
}

.personal-area-form {
  border-top: 3px solid #C4C4C4;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.personal-area-form_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  padding: 20px;
}
.personal-area-form_entry {
  width: 1000px;
}
.personal-area-form_entry_title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding: 20px 20px 20px 0;
}
.personal-area-form_entry_input {
  width: 100%;
  height: 30px;
  margin: 20px 20px 20px 0;
  border-radius: 20px;
  border-color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#3c3c3c), color-stop(#000000), to(#3c3c3c));
  background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c);
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.personal-area-form_entry_forgot-password {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  cursor: pointer;
}
.personal-area-form_entry_forgot-password:hover {
  text-decoration: underline;
}
.personal-area-form_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.personal-area-form_buttons_button {
  width: 200px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#3c3c3c), color-stop(#000000), to(#3c3c3c));
  background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c);
  border-radius: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.personal-area-form_buttons_button:hover {
  background-position-x: 100px;
}

.main {
  height: 91vh;
  border-top: 3px solid #C4C4C4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main-left {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}
.main-left-navnslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.main-logo {
  margin: 0 auto;
  padding: 30px;
}
.main-logo_text {
  padding: 20px;
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
}
.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-width: 0;
}
.main-info_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-info_point {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  list-style: none;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.main-info_point:hover {
  text-decoration: underline;
}
.main-info_slider {
  width: 400px;
  height: 150px;
  background: linear-gradient(0.15turn, #000000, #101515, #000000);
  border-radius: 40px;
}
.main-info_slider_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
}
.main-right {
  background: url("https://github.com/nikitaamikhailov/AIstudio/blob/main/frontend/imgs/bg-notebook.png?raw=true") 100% 100% no-repeat;
  background-size: 100%;
  width: 40%;
  height: 98%;
  padding-top: 3px;
}

.point-1:hover {
  text-decoration: none;
}

.offer-page {
  height: 100vh;
}
.offer-page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer-page_title {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #101515;
  float: left;
  margin-top: 50px;
}
.offer-page-bottom-blackbox {
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 154vh;
  left: 0;
  background-color: #101515;
  z-index: -1;
}
.offer-page_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.offer-page_card {
  padding: 0;
  cursor: pointer;
}

.title-how {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.how-work {
  background-color: #ffffff;
  margin-bottom: 50px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-container {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 20px;
}
.list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-element_number {
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  color: #000000;
}
.list-element_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 600px;
}
.list-element_text_title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.list-element_text_description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-element_text_line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.personal-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-area_text {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  max-width: 70%;
}

.our-cases {
  background-color: #ffffff;
  margin-bottom: 50px;
}
.our-cases_title {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.our-cases_title_text-our {
  color: #101515;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}
.our-cases_title_text-cases {
  color: #FFFFFF;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  z-index: 1;
}
.our-cases_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-cases_card {
  width: 350px;
  height: 280px;
  background-color: #101515;
  border-radius: 20px;
  margin: 10px;
  z-index: 1;
}
.our-cases_card-1 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/1site.svg") center;
}
.our-cases_card-2 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/2site.svg") center;
}
.our-cases_card-3 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/3site.svg") center;
}
.our-cases_card-4 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/4site.svg") center;
}
.our-cases_card-5 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/5site.svg") center;
}
.our-cases_card-6 {
  background-color: #C4C4C4;
}
.our-cases_img-plus {
  margin: 0 auto;
}
.our-cases-blackbox {
  position: absolute;
  top: 297vh;
  right: 0;
  background-color: #101515;
  width: 72%;
  height: 50vh;
  z-index: 0;
}

.reviews {
  background-color: #101515;
}
.reviews_title {
  color: #ffffff;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}
.reviews-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: auto;
}
.reviews_cards {
  height: 500px;
  max-width: 1100px;
}
.reviews_slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(0.15turn, #000000, #101515, #000000);
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 80%;
  max-width: 500px;
}
.reviews_slider-slide_title {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  height: 30%;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reviews_slider-slide_text {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  height: 70%;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  text-align: center;
}

.swiper-slide-prev, .swiper-slide-next {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  border: 0;
}
.swiper-slide-active.reviews_slider-slide {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border: 5px solid #c4c4c4;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.reviews-slider-button-next,
.reviews-slider-button-prev {
  position: static;
  background-color: #101515;
  width: 38px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

.reviews-slider-button-prev {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/023824574c5b8ff7a543d672a0b7078be66ffa08/frontend/imgs/prev.svg");
}

.reviews-slider-button-next {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/d05d0e31a624c6b679c735fd5d7b7bb33ef7719c/frontend/imgs/next.svg");
}

.reviews-slider-pagination {
  margin: 0 auto;
  text-align: center;
}

.swiper-pagination-bullet {
  background: #FFFFFF !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 10px !important;
  border-radius: 50% !important;
}
.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
}

.calc_title {
  color: #ffffff;
  padding: 20px 20px 0 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}
.calc_slide {
  width: 70%;
  margin: 0 auto;
}

.first-question_num {
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
}
.first-question_title {
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
}
.first-question_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.first-question_cards_card {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  background: linear-gradient(0.15turn, #000000, #101515, #000000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 40px;
}
.first-question_cards_card-img {
  width: 80px;
  height: 80px;
}
.first-question_cards_card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-align: center;
}

.contacts {
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
  padding-bottom: 40px;
}
.contacts_title {
  color: #101515;
  padding: 20px 20px 20px 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  width: 100%;
  margin-bottom: 30px;
}
.contacts_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}
.contacts_address {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.contacts_num {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.contacts_mail {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}

.footer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hren1 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.hren2 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

#blackMap {
  height: 450px;
  width: 50%;
}