*
  color: #fff
  margin: 0
  padding: 0
  scroll-behavior: smooth
.page
  width: 100%
  height: 100vh
.half-page
  width: 100%
  height: 50vh
.hidden
  display: none!important

body
  min-height: 100vh
  text-rendering: optimizeSpeed
.container
  max-width: 1200px
  margin: 0 auto
.fill
  height: 100%
.bg-black
  background-color: #101515

.header
  display: flex
  justify-content: space-between
  height: 10vh
  &-rightside_contacts_text
    text-decoration: none
    transition: .5s
    &:hover
      text-decoration: underline
  &-rightside
    display: flex
    align-items: center
  &-rightside_contacts
    padding: 20px
    font-family: 'Montserrat', sans-serif
    font-size: 25px
.logo
  display: flex
  align-items: center
  cursor: pointer
.logo_img
  width: 90px
.logo_text
  padding: 20px
  font-size: 32px
  font-family: 'Cormorant Garamond', serif

.personal-area-button
  padding: 15px
  background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c)
  border: 2px solid #000000
  border-radius: 28px
  font-family: 'Montserrat', sans-serif
  font-size: 25px
  cursor: pointer
  transition: 0.5s
  &:hover
    background-position-x: 100px

.personal-area-form
  border-top: 3px solid #C4C4C4
  height: 50vh
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  &_title
    font-family: 'Cormorant Garamond', serif
    font-size: 60px
    padding: 20px
  &_entry
    width: 800px
    &_title
      font-family: 'Montserrat', sans-serif
      font-size: 25px
      padding: 20px 20px 20px 0
    &_input
      width: 100%
      height: 50px
      margin: 20px 20px 20px 0
      border-radius: 20px
      border-color: #FFFFFF
      background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c)
      padding-left: 20px
      font-family: 'Montserrat', sans-serif
      font-size: 25px
      &:focus
        outline: none
    &_forgot-password
      font-family: 'Montserrat', sans-serif
      font-size: 25px
      cursor: pointer
      &:hover
        text-decoration: underline
  &_buttons
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 20px
    &_button
      width: 200px
      height: 50px
      background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c)
      border-radius: 20px
      text-align: center
      align-items: center
      font-family: 'Montserrat', sans-serif
      font-size: 25px
      border: 2px solid #000000
      transition: 0.5s
      &:hover
        background-position-x: 100px
.main
  height: 91vh
  border-top: 3px solid #C4C4C4
  width: 100%
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: flex-end
  &-left
    max-width: 1000px
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    height: 80%
    &-navnslider
      display: flex
      justify-content: space-around
      align-items: center
      width: 100%
  &-logo
    margin: 0 auto
    padding: 30px
  &-logo_text
    padding: 20px
    font-size: 60px
    font-family: 'Cormorant Garamond', serif
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%
    min-width: 0
    &_nav
      display: flex
      flex-direction: column
      justify-content: space-between
    &_point
      font-family: 'Montserrat', sans-serif
      font-size: 25px
      list-style: none
      text-decoration: none
      margin-bottom: 20px
      cursor: pointer
      &:hover
        text-decoration: underline
    &_slider
      width: 400px
      height: 150px
      background: linear-gradient(-0.15turn, #000000, #3c3c3c, #000000)
      border-radius: 40px
      border: 2px solid #000000
      &_slide
        display: flex
        justify-content: center
        align-items: center
        padding-left: 5px
  &-right
    background: url("https://github.com/nikitaamikhailov/AIstudio/blob/main/frontend/imgs/bg-notebook.png?raw=true") 100% 100% no-repeat
    background-size: 100%
    width: 40%
    height: 98%
    padding-top: 3px
.point-1:hover
  text-decoration: none


.offer-page
  height: 100vh
  &-flex
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-direction: column
  &_title
    font-size: 60px
    font-family: 'Cormorant Garamond', serif
    color: #101515
    float: left
    margin-top: 50px
  &-bottom-blackbox
    width: 80%
    height: 50vh
    position: absolute
    top: 154vh
    left: 0
    background-color: #101515
    z-index: -1
  &_cards
    display: flex
    justify-content: space-around
    align-items: center
    margin: 0 auto
    align-self: center
  &_card
    padding: 0
    cursor: pointer


.title-how
  font-size: 60px
  font-family: 'Cormorant Garamond', serif
  color: #FFFFFF
  padding-bottom: 10px
.how-work
  background-color: #ffffff
  margin-bottom: 50px

.list
  display: flex
  flex-direction: column
  justify-content: space-between
  &-container
    max-width: 740px
    margin: 0 auto
    padding-top: 20px
  &-element
    display: flex
    justify-content: space-between
    align-items: center
  &-element_number
    font-size: 80px
    font-family: 'Cormorant Garamond', serif
    color: #000000
  &-element_text
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    max-width: 600px
  &-element_text_title
    font-family: 'Montserrat', sans-serif
    font-size: 36px
    color: #000000
  &-element_text_description
    font-family: 'Montserrat', sans-serif
    font-size: 20px
    color: #000000
    margin-top: 10px
    margin-bottom: 10px
  &-element_text_line
    width: 100%
    height: 2px
    background-color: #000000

.personal-area
  display: flex
  justify-content: space-between
  align-items: center
.personal-area_text
  padding: 20px
  font-family: 'Montserrat', sans-serif
  font-size: 36px
  max-width: 70%

.our-cases
  background-color: #ffffff
  margin-bottom: 50px
  &_title
    background-color: #ffffff
    display: flex
    align-items: center
    justify-content: flex-start
    &_text-our
      color: #101515
      padding: 20px
      font-family: 'Cormorant Garamond', serif
      font-size: 60px
    &_text-cases
      color: #FFFFFF
      padding: 20px
      font-family: 'Cormorant Garamond', serif
      font-size: 60px
      z-index: 1
  &_cards
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &_card
    width: 350px
    height: 280px
    background-color: #101515
    border-radius: 20px
    border: 0
    margin: 10px
    z-index: 1
    cursor: pointer
  &_card-1
    background-size: cover
    background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/1site.svg") center
  &_card-2
    background-size: cover
    background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/2site.svg") center
  &_card-3
    background-size: cover
    background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/3site.svg") center
  &_card-4
    background-size: cover
    background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/4site.svg") center
  &_card-5
    background-size: cover
    background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/5site.svg") center
  &_card-6
    background-color: #C4C4C4
  &_img-plus
    margin: 0 auto
  &-blackbox
    position: absolute
    top: 297vh
    right: 0
    background-color: #101515
    width: 72%
    height: 50vh
    z-index: 0
.reviews
  background-color: #101515
  &_title
    color: #ffffff
    padding: 20px
    font-family: 'Cormorant Garamond', serif
    font-size: 60px
  &-slider
    display: flex
    justify-content: space-around
    align-items: center
    height: 100%
    margin: auto
  &_cards
    height: 500px
    max-width: 1100px
  &_slider-slide
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background: linear-gradient(0.15turn, #000000, #101515, #000000)
    border-radius: 30px
    transition: 0.5s
    height: 80%
    max-width: 500px
    &_title
      font-family: 'Montserrat', sans-serif
      font-size: 46px
      height: 30%
      margin: 0 auto
      transition: 0.5s
    &_text
      font-family: 'Montserrat', sans-serif
      font-size: 26px
      height: 70%
      margin: auto
      transition: 0.5s
      width: 100%
      text-align: center
.swiper
  &-slide
    &-prev, &-next
      transform: scale(0.7)
      border: 0
    &-active.reviews_slider-slide
      transform: scale(0.9)
      border: 5px solid #c4c4c4
.swiper-button-next:after,
.swiper-button-prev:after
  display: none
.reviews-slider-button-next,
.reviews-slider-button-prev
  position: static
  background-color: #101515
  width: 38px
  height: 70px
  background-position: center
  background-repeat: no-repeat
  border: 0
.reviews-slider-button-prev
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/023824574c5b8ff7a543d672a0b7078be66ffa08/frontend/imgs/prev.svg")
.reviews-slider-button-next
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/d05d0e31a624c6b679c735fd5d7b7bb33ef7719c/frontend/imgs/next.svg")
.reviews-slider-pagination
  margin: 0 auto
  text-align: center
.swiper-pagination-bullet
  background: #FFFFFF!important
  width: 10px!important
  height: 10px!important
  margin: 0 10px!important
  border-radius: 50%!important
  &-active
    width: 15px!important
    height: 15px!important


.calc
  &_title
    color: #ffffff
    padding: 20px 20px 0 0
    font-family: 'Cormorant Garamond', serif
    font-size: 60px
  &_slide
    width: 70%
    margin: 0 auto
.first-question
  &_num
    font-size: 80px
    font-family: 'Cormorant Garamond', serif
    color: #ffffff
  &_title
    color: #ffffff
    font-family: 'Cormorant Garamond', serif
    font-size: 40px
  &_cards
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    &_card
      width: 196px
      height: 196px
      border-radius: 10%
      background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c)
      border: 2px solid #000000
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      margin: 20px 40px
      &:active
        border: 0
        margin: 22px 42px
      &-img
        width: 80px
        height: 80px
      &-text
        font-family: 'Montserrat', sans-serif
        font-size: 26px
        text-align: center
.second-question
  &_num
    font-size: 80px
    font-family: 'Cormorant Garamond', serif
    color: #ffffff
  &_title
    color: #ffffff
    font-family: 'Cormorant Garamond', serif
    font-size: 40px
  &_cards
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    &_card
      width: 40%
      height: 196px
      border-radius: 10%
      background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c)
      border: 2px solid #000000
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      margin: 20px 40px
      &:active
        border: 0
        margin: 22px 42px
      &-img
        width: 80px
        height: 80px
      &-text
        font-family: 'Montserrat', sans-serif
        font-size: 26px
        text-align: center



.contacts
  background-color: #ffffff
  border-bottom: 2px solid #000000
  padding-bottom: 40px
  &_title
    color: #101515
    padding: 20px 20px 20px 0
    font-family: 'Cormorant Garamond', serif
    font-size: 60px
    width: 100%
    margin-bottom: 30px
  &_info
    display: flex
    justify-content: space-between
  &_text
    display: flex
    justify-content: space-between
    flex-direction: column
    overflow: auto
  &_address
    font-family: 'Montserrat', sans-serif
    font-size: 36px
    color: #000000
  &_num
    font-family: 'Montserrat', sans-serif
    font-size: 36px
    color: #000000
  &_mail
    font-family: 'Montserrat', sans-serif
    font-size: 36px
    color: #000000

.footer
  padding: 20px
  display: flex
  justify-content: space-between
.hren1
  color: #000000
  font-family: 'Montserrat', sans-serif
  font-size: 17px
//.icons
.hren2
  color: #000000
  font-family: 'Montserrat', sans-serif
  font-size: 17px

#blackMap
  height: 450px
  width: 50%