* {
  color: #fff;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100vh;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fill {
  height: 100%;
}

.bg-black {
  background-color: #101515;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-rightside_contacts_text {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-rightside_contacts_text:hover {
  text-decoration: underline;
}
.header-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-rightside_contacts {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_img {
  width: 110px;
}

.logo_text {
  padding: 20px;
  font-size: 32px;
  font-family: "Cormorant Garamond", serif;
}

.personal-area-button {
  padding: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#3c3c3c), color-stop(#000000), to(#3c3c3c));
  background: linear-gradient(to right, #3c3c3c, #000000, #3c3c3c);
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.personal-area-button:hover {
  background-position-x: 100px;
}

.main {
  height: 60vh;
  border-top: 3px solid #C4C4C4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-left {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.main-left-navnslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-logo {
  margin: 0 auto;
  padding: 30px;
}
.main-logo_text {
  padding: 20px;
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
}
.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  min-width: 0;
}
.main-info_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-info_point {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  list-style: none;
  margin-bottom: 20px;
}
.main-info_slider {
  width: 400px;
  height: 150px;
  background: radial-gradient(#c4c4c4, #000000);
  border-radius: 40px;
}
.main-right {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/dc36d88677f72ed3d7ba71f8d5a1e48d84dac9ac/frontend/imgs/bg-notebook.svg") 100% 0 no-repeat;
  height: 100%;
  width: 40%;
}

.offer-page {
  height: 100vh;
}
.offer-page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer-page_title {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #101515;
  float: left;
  margin-top: 50px;
}
.offer-page-bottom-blackbox {
  width: 80%;
  height: 50vh;
  position: absolute;
  top: 154vh;
  left: 0;
  background-color: #101515;
  z-index: -1;
}
.offer-page_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.offer-page_cards_card {
  padding: 0;
}

.title-how {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.how-work {
  background-color: #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-container {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 20px;
}
.list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-element_number {
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  color: #000000;
}
.list-element_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 600px;
}
.list-element_text_title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.list-element_text_description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-element_text_line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.personal-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-area_text {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  max-width: 70%;
}

.our-cases {
  background-color: #ffffff;
}
.our-cases_title {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.our-cases_title_text-our {
  color: #101515;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}
.our-cases_title_text-cases {
  color: #FFFFFF;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  z-index: 1;
}
.our-cases_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-cases_card {
  width: 350px;
  height: 280px;
  background-color: #101515;
  border-radius: 20px;
  margin: 10px;
  z-index: 1;
}
.our-cases_card-1 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/1site.svg") center;
}
.our-cases_card-2 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/2site.svg") center;
}
.our-cases_card-3 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/3site.svg") center;
}
.our-cases_card-4 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/4site.svg") center;
}
.our-cases_card-5 {
  background-size: cover;
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/5site.svg") center;
}
.our-cases_card-6 {
  background-color: #C4C4C4;
}
.our-cases_img-plus {
  margin: 0 auto;
}
.our-cases-blackbox {
  position: absolute;
  top: 317vh;
  right: 0;
  background-color: #101515;
  width: 72%;
  height: 50vh;
  z-index: 0;
}

.reviews {
  background-color: #101515;
}
.reviews_title {
  color: #ffffff;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}
.reviews_cards {
  margin: 10% auto 0;
  height: 30%;
  max-width: 1100px;
}
.reviews_swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  border-radius: 30px;
}
.reviews_swiper-slide_title {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
}
.reviews_swiper-slide_text {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}
.reviews-swiper-button-next::after, .reviews .reviews-swiper-button-prev::after {
  display: none;
}
.reviews-swiper-button-next, .reviews .reviews-swiper-button-prev {
  background-color: #FFFFFF;
  width: 40px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.calc_title {
  color: #ffffff;
  padding: 20px 20px 20px 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}

.contacts {
  background-color: #ffffff;
  border-bottom: 2px solid #000000;
}
.contacts_title {
  color: #101515;
  padding: 20px 20px 20px 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  width: 100%;
  margin-bottom: 30px;
}
.contacts_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}
.contacts_address {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.contacts_num {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.contacts_mail {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}
.contacts_map {
  width: 70%;
  height: 446px;
  border-radius: 20px;
  border: 2px #000000;
}

.footer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hren1 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.hren2 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}