* {
  color: #fff;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #101515;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-black {
  background-color: #101515;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_img {
  width: 110px;
}

.logo_text {
  padding: 20px;
  font-size: 32px;
  font-family: "Cormorant Garamond", serif;
}

.header-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-rightside_contacts {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.personal-area-button {
  padding: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#3c3c3c), to(#000000));
  background: linear-gradient(to right, #3c3c3c, #000000);
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #C4C4C4;
}

.main {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/dc36d88677f72ed3d7ba71f8d5a1e48d84dac9ac/frontend/imgs/bg-notebook.svg") 100% 0% no-repeat;
  overflow: auto;
  height: 100%;
}

.main-container {
  margin-top: 5vh;
  max-width: 1100px;
  overflow: auto;
  height: 100%;
  float: left;
}

.main-logo {
  margin: 0 auto;
  padding: 30px;
}

.main-logo_text {
  padding: 20px;
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.img-points {
  height: 10%;
  -o-object-fit: fill;
     object-fit: fill;
}

.main-info_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main-info_point {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  list-style: none;
  margin-bottom: 10%;
}

.main-info_slider {
  width: 420px;
  height: 170px;
  border-radius: 15px;
}

.offer-page-top {
  background-color: #ffffff;
  height: 50vh;
}

.offer-title {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #101515;
  float: left;
  margin-top: 50px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
}

.offer-page-bottom {
  background-color: #101515;
  height: 50vh;
  width: 75%;
  margin-top: -15px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card {
  padding: 0;
}

.title-how {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
  padding-bottom: 10px;
}

.how-work {
  background-color: #ffffff;
}

.list-container {
  max-width: 740px;
  margin: 0 auto;
  padding-top: 20px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-element_number {
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
  color: #000000;
}

.list-element_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 600px;
}

.list-element_text_title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}

.list-element_text_description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-element_text_line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.personal-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-area_text {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  max-width: 70%;
}

.our-cases {
  background-color: #ffffff;
}

.our-cases_title {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-our {
  color: #101515;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}

.text-cases {
  color: #101515;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}

.our-cases_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-cases_card {
  width: 350px;
  height: 280px;
  background-color: #101515;
  border-radius: 20px;
  margin: 10px;
}

.our-cases_card-1 {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/1site.svg") 50% 50% no-repeat;
}

.our-cases_card-2 {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/2site.svg") 50% 50% no-repeat;
}

.our-cases_card-3 {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/3site.svg") 50% 50% no-repeat;
}

.our-cases_card-4 {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/4site.svg") 50% 50% no-repeat;
}

.our-cases_card-5 {
  background: url("https://raw.githubusercontent.com/nikitaamikhailov/AIstudio/b9b78619d9ff49c024a596417a8b83dff23457fa/frontend/imgs/5site.svg") 50% 50% no-repeat;
}

.our-cases_card-6 {
  background-color: #C4C4C4;
}

.img-plus {
  margin: 0 auto;
}

.reviews {
  background-color: #101515;
}

.reviews_title {
  color: #ffffff;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}

.calc_title {
  color: #ffffff;
  padding: 20px;
  padding-left: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}

.contacts {
  background-color: #ffffff;
}

.contacts_title {
  color: #101515;
  padding: 20px;
  padding-left: 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  width: 100%;
  margin-bottom: 30px;
}

.contacts_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.contacts_address {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}

.contacts_num {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}

.contacts_mail {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  color: #000000;
}

.contacts_map {
  width: 70%;
  height: 446px;
  border-radius: 20px;
  border-color: #000000;
  border: 2px;
}

.black-line {
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.footer {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hren1 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

.hren2 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}